*{
  margin: 0;
  padding: 0;
  box-sizing: border-boxs;
}

.bg-red{
  background-color: red;
}

.bg-green{
  background-color: green;
}

.bg-yellow{
  background-color: yellow;
}

nav{
  position: fixed;
  right: 0;
  top: 15px;
}

nav ul{
 
}

nav ul li{
  display: inline-block;
  padding: 10px 25px;
  margin-right: 20px;
  background-color: white;
  border-radius: 50%;
}

ul li a{
  text-decoration: none;
  font-size: 50px;
}

section{
  height: 100vh;
}